[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
opencv-python-headless = "*"
numpy = ">=1.23.0"
pillow = "*"
scikit-image = "*"
firebase-admin = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
